table{
	border-collapse: separate;
  	border-spacing:  15px 10px;
  	width: 40%;
}

input, textarea{
	width: 100%;
}

.placeholder-fix:focus::-webkit-input-placeholder  {color:transparent;}
.placeholder-fix:focus::-moz-placeholder   {color:transparent;}
.placeholder-fix:-moz-placeholder   {color:transparent;}
