body{
	background-image: url("../imagen/ciudad.jpg");
}

#cuerpo{
	width: 80%;
}

.titulo{
	font-size: 52px;
	font-family: 'Lobster', cursive;
}

.footer{
	color: #000000;
	font-family: 'Lobster', cursive;	
}

h3{
    margin: 0;     
    color: #979090;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
.item{
    background: #333;    
    text-align: center;
    height: 500px !important;
}
.carousel{
    margin-top: 20px;
    width: 80%;
}
.bs-example{
	margin: 20px;
}